others/simulator-flow-working.json
[{"id":"6b88b7cc.f39938","type":"file","z":"60f4b480.d0898c","name":"healthy","filename":"f:/healthy.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":860,"y":160,"wires":[]},{"id":"3634d425.6543ac","type":"inject","z":"60f4b480.d0898c","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.01","crontab":"","once":false,"x":190,"y":80,"wires":[["650b223f.34509c"]]},{"id":"650b223f.34509c","type":"function","z":"60f4b480.d0898c","name":"","func":"var h = context.global.get('h')||0.008;\nvar a = context.global.get('a')||10;\nvar b = context.global.get('b')||28;\nvar c = context.global.get('c')||8/3;\nvar x = context.global.get('x')||2;\nvar y = context.global.get('y')||3;\nvar z = context.global.get('z')||4;\n\n\nx+=h*a*(y-x)\ny+=h*(x*(b-z)-y)\nz+=h*(x*y-c*z)\n\n\ncontext.global.set(\"x\",x);\ncontext.global.set(\"y\",y);\ncontext.global.set(\"z\",z);\nmsg.payload={};\nmsg.payload.x=x;\nmsg.payload.y=y;\nmsg.payload.z=z;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":40,"wires":[["5108ce2c.f76ff"]]},{"id":"ea574166.4f8b2","type":"inject","z":"60f4b480.d0898c","name":"healthy","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":154,"wires":[["20ab9411.bbc21c"]]},{"id":"7289748a.deeefc","type":"inject","z":"60f4b480.d0898c","name":"broken","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":132,"y":211,"wires":[["d74d7029.d5f17"]]},{"id":"20ab9411.bbc21c","type":"function","z":"60f4b480.d0898c","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',10);\ncontext.global.set('b',28);\ncontext.global.set('c',8/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":263,"y":151.5,"wires":[["b7e635dc.fad2b8"]]},{"id":"d74d7029.d5f17","type":"function","z":"60f4b480.d0898c","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',30);\ncontext.global.set('b',128);\ncontext.global.set('c',28/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":222,"y":265.5,"wires":[["b7e635dc.fad2b8"]]},{"id":"5108ce2c.f76ff","type":"function","z":"60f4b480.d0898c","name":"limit to max 3000 ","func":"var count = context.global.get('count') || 0;\ncount += 1;\ncontext.global.set('count',count);\nif (count <= 3000) {\n   return msg; \n}\n\n","outputs":1,"noerr":0,"x":621,"y":146,"wires":[["6b88b7cc.f39938","7c45d762.74fb68"]]},{"id":"8800d320.cbd27","type":"function","z":"60f4b480.d0898c","name":"","func":"context.global.set('count',0);\nmsg.payload=context.global.get('count');\ncontext.global.set(\"x\",2);\ncontext.global.set(\"y\",3);\ncontext.global.set(\"z\",4);\nreturn msg;","outputs":1,"noerr":0,"x":219,"y":542,"wires":[["b7e635dc.fad2b8"]]},{"id":"5146a42f.79eebc","type":"inject","z":"60f4b480.d0898c","name":"reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118,"y":427.5,"wires":[["8800d320.cbd27"]]},{"id":"b7e635dc.fad2b8","type":"debug","z":"60f4b480.d0898c","name":"","active":true,"console":"false","complete":"false","x":368.5,"y":533.5,"wires":[]},{"id":"7c45d762.74fb68","type":"debug","z":"60f4b480.d0898c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":60,"wires":[]},{"id":"89d939de.096378","type":"inject","z":"60f4b480.d0898c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":40,"wires":[[]]}]